= form_for @graffle do |f|
  - if @graffle.errors.any?
    #error_explanation
      %h2= "#{pluralize(@graffle.errors.count, "error")} prohibited this graffle from being saved:"
      %ul
        - @graffle.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
