= form_for @shape do |f|
  - if @shape.errors.any?
    #error_explanation
      %h2= "#{pluralize(@shape.errors.count, "error")} prohibited this shape from being saved:"
      %ul
        - @shape.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
