:coffeescript
  $ ->
    Hospiglu.start
      brainstorm: #{@brainstorm.to_json}
      user: #{@user.to_json}
      users: #{@users.to_json}
      graffles: #{@graffles.to_json}
      shapes: #{@shapes.to_json}
      connections: #{@connections.to_json}